<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <parameter name="cityName" value="Pune"></parameter>
    <parameter name="stateName" value="Maharashtra"></parameter>

    <test verbose="2" preserve-order="true" name="C:/Users/navin/IdeaProjects/clone repo for git exmple/TestNgPractice">
        <classes>

            <class name="generaloperations.Sample">
                <methods>
                    <include name="testcase4"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>